{% extends "index.html"%}

{% block content %}
    <body style="background-color:#383F39; color: #E4E6E5;">
        <div style="padding-left: 40px; padding-right: 40px">
            <h2 style="padding-top: 50px; text-align: center">Get To Know Me</h2>
            <hr style="width: 50%; border-color:#E4E6E5; padding-bottom: 40px;" align="center"/>
            <img src="../static/img/Kisby.jpg" style="float: right; height: 300px; width: auto;">
            <img src="../static/img/profile.jpg" style="float: right; height: 300px; width: auto; padding-left: 20px">

            <p>From my perspective, data engineering is the ultimate support role. As someone who loves to see the people around me succeed, this career has been a perfect fit. Now, some may see a support role as simply delivering on requests, but there is much more to this type of role. My approach to data engineering is asking the right questions to understand the problems and pain points a client is experiencing, predicting what additional answers they may need in the future, and eliminating complications before they impact the user.</p>
            <p>While with The Home Depot, I have had the pleasure of automating manual reports and enhancing current data pipelines to give clients a faster, clearer, reliable look at the data they care about most. I've been able to reduce the time for generating reports from upwards of 2 weeks to 20-40 minutes and providing daily updates to reports that would have only been seen on a quarterly basis. </p>
            <p>The work I was doing as a hardware engineer at IBM was based in writing what would become a physical computer chip, but a number of my experiences from that role have translated well into data engineering. Namely, finding the root cause of errors, designing for resiliency, communicating technical concepts and results, understanding complex problems, and learning new technologies quickly.</p>
            <p>Of course, not all learning for a career can be done on the job. With that in mind, I like to participate in personal data projects to get familiar with new tools and deeper concepts of data engineering. I like to keep a technical reading list, take courses, tackle challenge problems, and put together whole data pipelines with interesting, open-source data.</p>
            <p>On the personal front, I like to keep a variety of hobbies to keep exercising my mind and learning new concepts from new angles. I enjoy spending time working in fiber arts, hiking, sewing, and (recently) developing video games with C# in Unity.</p>
            
            <hr style="width: 90%; border-color:#E4E6E5; padding-bottom: 10px; padding-top: 40px" align="center"/>
            <h3 style="text-align: center;">Want to Get in Touch?</h3>
            <p style="text-align: center">Email me at hengelaura@gmail.com<br>Connect with me on <a href="https://www.linkedin.com/in/laura-hengel/">LinkedIn</a></p>
        </div>
    </body>
{% endblock %}