<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Laura Hengel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{{'/'}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{'/projects' }}">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{'/about'}}">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="{{'/addimage'}}">Add Image</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Delete Book(Disabled)</a>
                </li>
              </ul>
            </div>
          </nav>          
    </head>



<body style="background-image: url('IMG_0607.png');  background-repeat: no-repeat;
  background-size: cover;">
        <h2 style="text-align: center; padding-top: 150px;"> Hi, I'm Laura. I'm glad you're here!</h2>
        <p style="text-align: center;">I am a data engineer, data analyst, and fiber artist. I like to explore problems, develop solutions, and tell stories with my work. <br>
        Take your time to look around, browse my projects, and get to know me a little better.</p>
</body>



</html>