{% extends "index.html"%}

{% block content %}
    <body>
        <div style="padding-left: 20px; height: 525px; background-color:#383F39; color: #E4E6E5;">
            <img src="../static/img/biodiversity.png" style="float: right; margin: 20px">
            <img src="../static/img/nps_logo.png" style="float: right; height: 250px; width: auto">
            <h2 style="padding-top: 25px">Biodiversity Across Four National Parks</h2>
            <hr style="width: 50%; border-color:#E4E6E5;" align="left"/>
            <p>Here is some text for seeing things!</p>
        </div>
    </body>
{% endblock %}